header{
    background:url(./images/./bike-1.png), linear-gradient(90deg, rgb(255, 213, 0), rgba(238, 255, 0, 0.049)) ;
    background-size: cover, cover;
    background-repeat: no-repeat,  no-repeat;
    background-blend-mode: multiply;
    object-fit: fill;
    object-position: left top;
    width: 100%;
}
header:hover{
    background:url(./images/./bike-1.png), linear-gradient(90deg, rgba(255, 157, 0, 0),rgb(255, 136, 0),rgb(255, 136, 0)) ;
    background-size: cover, cover;
    background-repeat: no-repeat,  no-repeat;
    background-blend-mode: multiply;
    transition: 10s;
}
/* .positive-mindset {
    width: 900px;
    height: 238px;
    background: url(../images/watch.png), url(../images/gradient2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-blend-mode: multiply;
    margin: 70px auto;
    position: relative;
} */